* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #010101;
  color: #f0f0f0;
}

.carousel-scene {
  height: 100vh;
  width: 100%;
  perspective: 1300px;
  overflow: hidden;
}

.carousel {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform-style: preserve-3d;
  animation: spin 18s linear infinite;
}

.carousel:hover {
  animation-play-state: paused;
}

.carousel-items {
  height: 25%;
  width: 10%;
  position: absolute;
}

.carousel-items img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel-items:nth-child(1) {
  transform: rotateY(0deg) translateZ(450px);
}
.carousel-items:nth-child(2) {
  transform: rotateY(45deg) translateZ(450px);
}
.carousel-items:nth-child(3) {
  transform: rotateY(90deg) translateZ(450px);
}
.carousel-items:nth-child(4) {
  transform: rotateY(135deg) translateZ(450px);
}
.carousel-items:nth-child(5) {
  transform: rotateY(180deg) translateZ(450px);
}
.carousel-items:nth-child(6) {
  transform: rotateY(225deg) translateZ(450px);
}
.carousel-items:nth-child(7) {
  transform: rotateY(270deg) translateZ(450px);
}
.carousel-items:nth-child(8) {
  transform: rotateY(315deg) translateZ(450px);
}

@keyframes spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}
