@mixin flexDisplay($gap) {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: $gap;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
}

main {
	height: 100%;
	width: 100%;
	background-color: black;
	color: white;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	@include flexDisplay(100px);
	flex-direction: column;

	h1 {
		font-size: 5rem;
		font-weight: 600;
	}

	p {
		font-size: 8rem;
		font-weight: 600;
	}

	#buttons {
		@include flexDisplay(50px);

		#increase,
		#decrease {
			font-size: 2rem;
			padding: 1rem;
			border: none;
			border-radius: 1rem;
			color: white;
		}
		#increase:hover,
		#decrease:hover {
			cursor: pointer;
		}
		#increase:active,
		#decrease:active {
			scale: 0.92;
			transition: all ease 0.1s;
		}

		#increase {
			background-color: green;
		}

		#decrease {
			background-color: red;
		}
	}
}
