* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
}

main {
	width: 100%;
	background-color: #000;
	color: #fff;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1rem;
	flex-wrap: wrap;
}

.card {
	background-color: aliceblue;
	width: 500px;
	height: 400px;
	color: black;
	border-radius: 1rem;
	margin: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2rem;
	text-align: center;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card > img {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	margin-bottom: 1rem;
}

.card > h1 {
	font-size: 2rem;
	font-weight: 900;
	margin-bottom: 8px;
}

.card > h3 {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 10px;
}

.card > p {
	font-size: 0.9rem;
	font-weight: 500;
	text-align: center;
	margin-bottom: 1rem;
}

.card > ul {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.card > ul > li {
	border: 2px solid transparent;
	border-radius: 10px;
	background: linear-gradient(to right, white, white),
		linear-gradient(to right, red, blue);
	background-clip: padding-box, border-box;
	background-origin: padding-box, border-box;
	padding: 8px;
}
