* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@property --rotate {
	syntax: '<angle>';
	inherits: false;
	initial-value: 0deg;
}

@keyframes borderAnimate {
	from {
		--rotate: 0deg;
	}
	to {
		--rotate: 360deg;
	}
}

.box {
	max-width: 300px;
	color: whitesmoke;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-inline: 10px;
	padding-bottom: 10px;
	margin: 10px;
	border-radius: 20px;
	border: 0px solid rgba(255, 255, 255, 0);
	background: linear-gradient(black) padding-box,
		conic-gradient(from var(--rotate), black, rgb(245, 10, 88), black)
			border-box;
	animation: borderAnimate 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-play-state: paused;
	transition: all 0.3s linear;
	text-shadow: 0 0 0px rgb(245, 10, 88);
	box-shadow: 0 0 0px rgb(245, 10, 88);
}

.box:hover {
	color: rgb(245, 10, 88);
	text-shadow: 0 0 10px rgb(245, 10, 88);
	box-shadow: 0 0 50px rgb(245, 10, 88);
	border-width: 5px;
	animation-play-state: running;
	cursor: pointer;
}

.box img {
	width: 100%;
}
