:root {
  --primary: #f9f7f7;
  --secondary: #112d4e;
  --tertiary: #dbe2ef;
  --base: #3f72af;
  --red: red;
  --green: rgb(8, 108, 63);
  --blue: rgb(7, 109, 203);
  --black: black;
}

@font-face {
  font-family: aeonik;
  font-family: 500;
  src: url(./assets/fonts/fonnts.com-Aeonik-Regular.ttf);
}

@font-face {
  font-family: aeonik;
  font-family: 700;
  src: url(./assets/fonts/fonnts.com-Aeonik-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: aeonik;
  color: var(--primary);
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--secondary);
}

/* All elements */

section.all-elems {
  height: 100%;
  width: 100%;
  padding: 40px;
  position: absolute;
}

.all-elems header {
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1544829728-e5cb9eedc20e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 40px;
}

header .header1 h1,
.header1 h2,
.header1 h4,
.header2 h2,
.header2 h3,
.header2 h4 {
  color: var(--secondary);
  font-weight: 500;
}

header .header1 h1 {
  font-size: 90px;
  margin-bottom: 45px;
}
header .header1 h2 {
  font-size: 40px;
}
header .header1 h4 {
  font-size: 70px;
}
header .header2 h2 {
  font-size: 60px;
}
header .header2 h4 {
  font-size: 30px;
  margin-bottom: 40px;
  margin-top: -10px;
}
header .header2 h3 {
  font-size: 20px;
  opacity: 0.8;
}

.all-elems .all-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 40px;
}

.elem {
  position: relative;
  background-color: var(--base);
  height: 270px;
  width: 240px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 20px var(--tertiary);
  box-shadow: 0 5px 20px var(--tertiary);
}

.elem img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.elem h2 {
  position: absolute;
  bottom: 4%;
  right: 5%;
  font-weight: 500;
  font-size: 28px;
}

.elem:active {
  scale: 0.97;
}

.full-elem {
  height: 100%;
  width: 100%;
  background-color: var(--secondary);
  padding: 40px;
  font-size: 60px;
  display: none;
  position: absolute;
}

.back {
  position: absolute;
  right: 5%;
  background-color: var(--red);
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 25px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  color: var(--primary);
}
.back:active {
  scale: 0.95;
}

/* Todo List Page */

.todo-list-fullpage h2 {
  font-size: 65px;
}

.todo-list-fullpage .task-container {
  width: 100%;
  height: 80%;
  margin-top: 40px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.todo-list-fullpage .task-container .add-task {
  width: 33%;
  background-color: var(--base);
  height: 100%;
  border-radius: 20px;
}

.todo-list-fullpage .task-container .add-task form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 30px;
}

.task-container .add-task form input#task-input {
  padding: 15px 25px;
  width: 100%;
  font-size: 25px;
  background-color: var(--tertiary);
  border: none;
  border-radius: 5px;
  outline: none;
  color: var(--secondary);
  margin-bottom: 20px;
  font-weight: 500;
}
.task-container .add-task form textarea {
  padding: 15px 25px;
  width: 100%;
  font-size: 25px;
  background-color: var(--tertiary);
  border: none;
  border-radius: 5px;
  outline: none;
  color: var(--secondary);
  margin-bottom: 20px;
  font-weight: 500;
}
.task-container .add-task form button {
  padding: 15px 25px;
  width: 100%;
  font-size: 25px;
  background-color: var(--tertiary);
  border: none;
  border-radius: 5px;
  font-weight: 700;
  outline: none;
  color: var(--secondary);
  margin-bottom: 20px;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  cursor: pointer;
}

.task-container .add-task form button:active {
  scale: 0.95;
}

.todo-list-fullpage .task-container .all-tasks {
  width: 65%;
  background-color: var(--base);
  height: 100%;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 30px;
  overflow: auto;
}

.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  background-color: var(--tertiary);
  padding: 20px 30px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.task h5 {
  color: var(--secondary);
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 8px;
}

.task h5 span {
  color: var(--primary);
  background-color: var(--red);
  padding: 4px 8px;
  border-radius: 50px;
  font-size: 11px;
}

.task h5 span.true {
  opacity: 1;
}
.task h5 span.false {
  opacity: 0;
}

.task button {
  padding: 15px 30px;
  color: var(--primary);
  background-color: green;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.task button:active {
  scale: 0.95s;
}

.mark-imp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 20px;
  gap: 30px;
}

.mark-imp input {
  scale: 1.5;
}

.mark-imp label {
  font-size: 20px;
}

/* Daily Planner Page */

.daily-planner-fullpage h2 {
  font-size: 65px;
}

.daily-planner-fullpage .day-planner {
  background-color: var(--base);
  height: 85%;
  margin-top: 40px;
  width: 100%;
  border-radius: 10px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: auto;
}

.daily-planner-fullpage .day-planner .day-planner-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
  width: 49%;
  margin-bottom: 15px;
}

.day-planner .day-planner-time p {
  position: absolute;
  top: 12%;
  left: 2%;
  font-weight: 500;
  font-size: 16px;
  color: var(--tertiary);
}

.day-planner .day-planner-time input {
  padding: 20px 45px;
  width: 100%;
  background-color: var(--secondary);
  border: none;
  font-size: 35px;
  border-radius: 10px;
  padding-top: 34px;
  outline: none;
}

/* Motivational Quotes */

.motivation-fullpage-container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.motivation-fullpage .motivation-container {
  height: 400px;
  width: 80%;
  background-color: var(--base);
  border-radius: 50px;
  position: relative;
}

.motivation-fullpage .motivation-container::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: var(--primary);
  position: absolute;
  border-radius: 50px;
  scale: 1.15;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 8;
}

.motivation-fullpage .motivation-container .motivation-wrapper {
  z-index: 10;
  position: absolute;
  width: 100%;
  background-color: var(--base);
  border-radius: 30px;
  padding: 17px;
  border: 5px solid var(--secondary);
}

.motivation-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.motivation-1 h2 {
  background-color: var(--secondary);
  padding: 30px;
  border-radius: 20px;
  font-size: 30px;
  font-weight: 500;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--primary);
  text-align: right;
}

.motivation-2 {
  padding: 10px;
  margin: 30px;
}

.motivation-2 h1 {
  font-size: 40px;
  font-weight: 700;
  color: var(--tertiary);
}

.motivation-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.motivation-3 h2 {
  background-color: var(--secondary);
  padding: 30px;
  border-radius: 20px;
  font-size: 30px;
  font-weight: 500;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--primary);
  text-align: right;
}

.motivation-fullpage .motivation-container .motivation-wrapper img {
  position: absolute;
  top: 5%;
  right: 5%;
  opacity: 0.5;
  height: 120px;
}

/* Pomodoro Timer */

.pomodoro-timer-fullpage h2 {
  font-size: 65px;
}

.pomodoro-timer-fullpage .timer-session {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.pomodoro-timer-fullpage .pomo-timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

.pomo-timer h1 {
  font-size: 170px;
  font-weight: 700;
}

.pomo-timer .timer-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pomo-timer .timer-btns button {
  background-color: var(--tertiary);
  color: var(--base);
  border: none;
  padding: 20px 40px;
  font-size: 35px;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 0px var(--black);
  box-shadow: 5px 5px 0px var(--black);
  -webkit-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
  font-weight: 700;
}

.pomo-timer .timer-btns button:active {
  scale: 0.95;
  -webkit-box-shadow: 0px 0px 0px var(--black);
  box-shadow: 0px 0px 0px var(--black);
}

.pomodoro-timer-fullpage .session {
  background-color: var(--green);
  margin-top: 80px;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 30px;
}

/* Daily Goals */

.daily-goals-fullpage h2 {
  font-size: 65px;
  font-weight: 500;
}

.daily-goals-fullpage .daily-goals-container {
  width: 100%;
  height: 85%;
  margin-top: 30px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.daily-goals-container .add-daily-goals {
  background-color: var(--base);
  border-radius: 16px;
  width: 30%;
  height: 100%;
  padding: 30px;
}

.add-daily-goals form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}

.add-daily-goals form .goal-input {
  font-size: 25px;
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 100%;
  color: var(--secondary);
  background-color: var(--tertiary);
}

.add-daily-goals form .goal-details {
  font-size: 25px;
  padding: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 100%;
  max-height: 400px;
  color: var(--secondary);
  background-color: var(--tertiary);
}

.add-daily-goals form .add-goal-btn {
  font-size: 25px;
  color: var(--secondary);
  background-color: var(--tertiary);
  width: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.add-daily-goals form .add-goal-btn:active {
  scale: 0.95;
}

.daily-goals-container .all-goals {
  background-color: var(--base);
  width: 68%;
  height: 100%;
  padding: 30px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
  overflow: auto;
}

.all-goals .new-goal {
  background-color: var(--tertiary);
  border-radius: 10px;
  padding: 15px;
  width: 270px;
}

.new-goal .goal-title {
  color: var(--secondary);
  font-size: 40px;
  font-weight: 700;
}

.new-goal .goal-desc {
  color: var(--secondary);
  font-size: 25px;
  font-weight: 500;
}

.new-goal .goal-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10px;
}

.new-goal .goal-btns .delete-goal {
  background-color: var(--red);
  color: var(--tertiary);
  padding: 5px 12px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  -webkit-transition: all ease 0.1s;
  -o-transition: all ease 0.1s;
  transition: all ease 0.1s;
}

.new-goal .goal-btns .delete-goal:active {
  scale: 0.95;
}

.new-goal .goal-btns .complete-goal {
  background-color: var(--green);
  color: var(--tertiary);
  padding: 5px 12px;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: all ease 0.1s;
  -o-transition: all ease 0.1s;
  transition: all ease 0.1s;
}

.new-goal .goal-btns .complete-goal:active {
  scale: 0.95;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

/* Navbar */

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: var(--base);
  padding: 40px;
}

.theme {
  background-color: var(--primary);
  border-radius: 50%;
  padding: 12px 12px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.theme:active {
  scale: 0.95;
}

.theme i {
  color: var(--secondary);
}
