:root {
  --primary: #f9f7f7;
  --secondary: #112d4e;
  --tertiary: #dbe2ef;
  --base: #3f72af;
  --red: red;
  --green: rgb(8, 108, 63);
  --blue: rgb(7, 109, 203);
}

@font-face {
  font-family: aeonik;
  font-family: 500;
  src: url(./assets/fonts/fonnts.com-Aeonik-Regular.ttf);
}

@font-face {
  font-family: aeonik;
  font-family: 700;
  src: url(./assets/fonts/fonnts.com-Aeonik-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: aeonik;
  color: var(--primary);
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: var(--secondary);
}

nav {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: var(--tertiary);
}

/* All elements */

section.all-elems {
  height: 100%;
  width: 100%;
  padding: 40px;
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 40px;
  position: absolute;
}

.elem {
  position: relative;
  background-color: var(--base);
  height: 400px;
  width: 330px;
  border-radius: 10px;
  overflow: hidden;
  transition: all ease 0.3s;
  cursor: pointer;
  box-shadow: 0 5px 20px var(--tertiary);
}

.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.elem h2 {
  position: absolute;
  bottom: 4%;
  right: 5%;
  font-weight: 500;
  font-size: 33px;
}

.elem:active {
  scale: 0.97;
}

.full-elem {
  height: 100%;
  width: 100%;
  background-color: var(--secondary);
  padding: 40px;
  font-size: 60px;
  display: none;
  position: absolute;
}

.back {
  position: absolute;
  right: 5%;
  background-color: var(--red);
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 25px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  color: var(--primary);
}
.back:active {
  scale: 0.95;
}

/* Todo List Page */

.todo-list-fullpage h2 {
  font-size: 65px;
}

.todo-list-fullpage .task-container {
  width: 100%;
  height: 80%;
  margin-top: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-list-fullpage .task-container .add-task {
  width: 33%;
  background-color: var(--base);
  height: 100%;
  border-radius: 20px;
}

.todo-list-fullpage .task-container .add-task form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}

.task-container .add-task form input#task-input {
  padding: 15px 25px;
  width: 100%;
  font-size: 25px;
  background-color: var(--tertiary);
  border: none;
  border-radius: 5px;
  outline: none;
  color: var(--secondary);
  margin-bottom: 20px;
  font-weight: 500;
}
.task-container .add-task form textarea {
  padding: 15px 25px;
  width: 100%;
  font-size: 25px;
  background-color: var(--tertiary);
  border: none;
  border-radius: 5px;
  outline: none;
  color: var(--secondary);
  margin-bottom: 20px;
  font-weight: 500;
}
.task-container .add-task form button {
  padding: 15px 25px;
  width: 100%;
  font-size: 25px;
  background-color: var(--tertiary);
  border: none;
  border-radius: 5px;
  font-weight: 700;
  outline: none;
  color: var(--secondary);
  margin-bottom: 20px;
  transition: all ease 0.3s;
  cursor: pointer;
}

.task-container .add-task form button:active {
  scale: 0.95;
}

.todo-list-fullpage .task-container .all-tasks {
  width: 65%;
  background-color: var(--base);
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  overflow: auto;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--tertiary);
  padding: 20px 30px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.task h5 {
  color: var(--secondary);
  font-size: 30px;
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.task h5 span {
  color: var(--primary);
  background-color: var(--red);
  padding: 4px 8px;
  border-radius: 50px;
  font-size: 11px;
}

.task h5 span.true {
  opacity: 1;
}
.task h5 span.false {
  opacity: 0;
}

.task button {
  padding: 15px 30px;
  color: var(--primary);
  background-color: green;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: all ease 0.3s;
}

.task button:active {
  scale: 0.95s;
}

.mark-imp {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 20px;
  gap: 30px;
}

.mark-imp input {
  scale: 1.5;
}

.mark-imp label {
  font-size: 20px;
}

/* Daily Planner Page */

.daily-planner-fullpage h2 {
  font-size: 65px;
}

.daily-planner-fullpage .day-planner {
  background-color: var(--base);
  height: 85%;
  margin-top: 40px;
  width: 100%;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: auto;
}

.daily-planner-fullpage .day-planner .day-planner-time {
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 49%;
  margin-bottom: 15px;
}

.day-planner .day-planner-time p {
  position: absolute;
  top: 12%;
  left: 2%;
  font-weight: 500;
  font-size: 16px;
  color: var(--tertiary);
}

.day-planner .day-planner-time input {
  padding: 20px 45px;
  width: 100%;
  background-color: var(--secondary);
  border: none;
  font-size: 35px;
  border-radius: 10px;
  padding-top: 34px;
  outline: none;
}

/* Motivational Quotes */

.motivation-fullpage {
  position: relative;
}

.motivation-fullpage-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.motivation-fullpage .motivation-container {
  height: 400px;
  width: 80%;
  background-color: var(--base);
  border-radius: 50px;
  position: relative;
}

.motivation-fullpage .motivation-container::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: var(--primary);
  position: absolute;
  border-radius: 50px;
  scale: 1.15;
  filter: blur(50px);
  z-index: 8;
}

.motivation-fullpage .motivation-container .motivation-wrapper {
  z-index: 10;
  position: absolute;
  width: 100%;
  background-color: var(--base);
  border-radius: 30px;
  padding: 17px;
  border: 5px solid var(--secondary);
}

.motivation-1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.motivation-1 h2 {
  background-color: var(--secondary);
  padding: 30px;
  border-radius: 20px;
  font-size: 30px;
  font-weight: 500;
  width: fit-content;
  color: var(--primary);
  text-align: right;
}

.motivation-2 {
  padding: 10px;
  margin: 30px;
}

.motivation-2 h1 {
  font-size: 40px;
  font-weight: 700;
  color: var(--tertiary);
}

.motivation-3 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.motivation-3 h2 {
  background-color: var(--secondary);
  padding: 30px;
  border-radius: 20px;
  font-size: 30px;
  font-weight: 500;
  width: fit-content;
  color: var(--primary);
  text-align: right;
}

.motivation-fullpage .motivation-container .motivation-wrapper img {
  position: absolute;
  top: 5%;
  right: 5%;
  opacity: 0.5;
  height: 120px;
}

/* Pomodoro Timer */

.pomodoro-timer-fullpage {
  position: relative;
}

.pomodoro-timer-fullpage h2 {
  font-size: 65px;
}

.pomodoro-timer-fullpage .pomo-timer {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.pomo-timer h1 {
  font-size: 170px;
  font-weight: 700;
}

.pomo-timer button {
  background-color: var(--tertiary);
  color: var(--base);
  border: none;
  padding: 20px 40px;
  font-size: 35px;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 5px 0px black;
  transition: all ease 0.2s;
  font-weight: 700;
}

.pomo-timer button:active {
  scale: 0.95;
  box-shadow: 0px 0px 0px black;
}

.pomodoro-timer-fullpage .session {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--green);
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 30px;
}
