* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	background-color: rgb(148, 248, 248);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.card {
	background-color: #fff;
	width: 350px;
	height: 350px;
	border-radius: 10px;
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 40px;
	text-align: center;
}

img {
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
	margin-bottom: 20px;
}

h2 {
	font-size: 1.8rem;
	margin-bottom: 20px;
}

p {
	font-size: 1rem;
	margin-bottom: 20px;
}

button {
	color: #fff;
	background-color: royalblue;
	border: none;
	border-radius: 50px;
	padding: 10px;
	width: 120px;
	font-size: 1rem;
}

button:hover {
	cursor: pointer;
}
