* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	anchor-name: --anchor1;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-elem {
	background-color: transparent;
	padding: 15px 30px;
	border-radius: 10px;
	color: white;
}

.nav-elem:hover {
	anchor-name: --anchor1;
	cursor: pointer;
	color: gray;
}

.elem {
	font-size: 32px;
	font-weight: 800;
}

.anchor {
	background-color: gray;
	border-radius: 10px;
	position: absolute;
	position-anchor: --anchor1;
	top: anchor(top);
	left: anchor(left);
	right: anchor(right);
	bottom: anchor(bottom);
	transition: all 0.3s linear;
	mix-blend-mode: difference;
	pointer-events: none;
}
