* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
}

main {
	height: 100%;
	width: 100%;
	background-color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	button {
		padding: 1.5rem;
		font-size: 1.5rem;
		border-radius: 10px;
		border: none;
		background-color: aquamarine;
	}

	button:hover {
		cursor: pointer;
	}

	button:active {
		scale: 0.9;
	}
}
